body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f4f4f4;
}

nav{
    background:#1f2937;
    color:white;
    padding:20px;
}

.hero{
    text-align:center;
    padding:60px;
    background:linear-gradient(135deg,#4f46e5,#7c3aed);
    color:white;
}

section{
    padding:30px;
}

.card{
    display:inline-block;
    padding:12px;
    margin:10px;
    background:white;
    border-radius:10px;
    box-shadow:0 2px 5px rgba(0,0,0,0.2);
}

.project{
    background:white;
    padding:20px;
    margin:10px 0;
    border-radius:10px;
}

button{
    padding:10px 20px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
